
cudarecv/auxil/.ptp-sync-folder
cudarecv/auxil/inc/.ptp-sync-folder
cudarecv/auxil/src/.ptp-sync-folder
cudarecv/console/.ptp-sync-folder
cudarecv/console/inc/.ptp-sync-folder
cudarecv/console/src/.ptp-sync-folder
cudarecv/cudarecv/.ptp-sync-folder
cudarecv/cudarecv/.settings/.ptp-sync-folder
cudarecv/cudarecv/inc/.ptp-sync-folder
cudarecv/cudarecv/.settings/org.eclipse.ptp.rdt.sync.core.prefs
cudarecv/cudarecv/src/.ptp-sync-folder
cudarecv/dsp/.ptp-sync-folder
cudarecv/dsp/inc/.ptp-sync-folder
cudarecv/dsp/src/.ptp-sync-folder
cudarecv/dsp/src/utils/.ptp-sync-folder
cudarecv/guhd/.ptp-sync-folder
cudarecv/guhd/src/.ptp-sync-folder
cudarecv/modules/.ptp-sync-folder
cudarecv/modules/inc/.ptp-sync-folder
cudarecv/modules/src/.ptp-sync-folder
cudarecv/cudarecv/.cproject
cudarecv/cudarecv/.project
